@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-black text-white font-sans;
  font-family: var(--font-inter);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40, end);
}

.typing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.typing-item {
  width: 100%;
  min-width: 200px; /* Ensures all items align correctly */
}
